numpy<2.0.0
scipy
transformers
huggingface-hub
onnxruntime
colorama
customtkinter
pillow
matplotlib
streamlit
altair
pandas
librosa
# Smart Audio Selection
pyaudiowpatch; sys_platform == 'win32'
pyaudio; sys_platform != 'win32'
